doctype html
html(lang='en')
  head
    title school-semesters
    meta(name="viewport", content="width=device-width, initial-scale=1")

  style.
    html {
      font-family: sans-serif;
    }

    details:hover {
      cursor: pointer;
    }

    summary:hover {
      background-color: #71717a;
      color: #fafafa;
    }

  body
    h1 school-semesters
    
    p This repository allows the generation of school terms.
    p Academic calendars usually reside in PDF files, which is a great visual format but not ideal for data processing. The code here does not attempt to parse PDF files, but rather tries to mimic the logic used to set school terms (e.g. 2nd Sunday of August).

    details(open='true')
      summary ICS Calendar Files

      ul
        each val in icsFiles
          li
            a(href=val.name)= val.name

    details(open='true')
      summary JSON Files

      ul
        each val in jsonFiles
          li
            a(href=val.name)= val.name